.PowerCATFluentDetailsList .status-tag:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #5D656E;
}

.PowerCATFluentDetailsList .status-tag {
  line-height: 26px;
  position: relative;
  padding: 4px 8px 4px 20px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #CAD0D5;
  font-size: 12px;
  font-weight: bold;
  color: #212A35;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.PowerCATFluentDetailsList .text-tag {
  line-height: 26px;
  position: relative;
  padding: 4px 8px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  font-size: 12px;
  font-weight: 600;
  color: #212A35;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  box-sizing: border-box;
}
